<!DOCTYPE html>

<html>
<head>


    <title>Pizzaria</title>
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>

<h2><a href="/logout">logout</a></h2>


<h1 style="color:#2E2E3A">Menu</h1>


<h3>Regular Pizza</h3>
 <div class="cont">
{% for regular in Regular_pizza%}
     <div id='{{regular.id}}' class="regular_pizza" data-item-id="{{regular.id}}"onclick='show_details(event)'>
       <label >{{regular}}</label><br>
                <div class="size">
                    <input type="radio" value="large">  <label>large</label>
                    <input type="radio" value="small">  <label>small</label>
                </div>

                <div class="topping" >
                        {%for topping in Topping%}
                             <input  type="checkbox"  onchange="limit(event)" name="topping"value="{{topping.id}}"><label style="color:#FFFFFF">{{topping}}</label>
                        {%endfor%}
                </div>
         <div class="button" onclick="regular_pizza({{regular.id}},event)">add to chart</div>
         <br>

     </div>
{%endfor%}
 </div>

     <h3>Sicillian Pizza</h3>
 <div class="cont">

{% for Sicillian in Sicillian_pizza%}
     <div>
         <label >{{Sicillian}}</label><br>
            <div class="size">
            <input type="radio" value="large">  <label>large</label>
            <input type="radio" value="small">  <label>small</label>
                </div>
            <div class="topping">
            {%for topping in Topping%}
                 <input type="checkbox" value="{{topping}}"><label>{{topping}}</label>

            {%endfor%}

                </div>
         <div class="button">add to chart</div>
     <br>
</div>
{%endfor%}
 </div>



    <h3>Salad</h3>
<div class="cont">
    {%for salad in Salad%}
    <div>
   <label >{{salad}}</label><br>
    </div>
    {%endfor%}
</div>


    <h3>Subs</h3>
<div class="cont">
    {%for subs in Subs%}
     <div>
        <label>{{subs}}</label><br>
        <div class="size">
             <input  type="radio" name ='large'value="large">  <label>large</label>
            <input  type="radio" name="small" value="small">  <label>small</label>
        </div>
        <br/><br/>
          </div>
    {%endfor%}
</div>


    <h3>Pasta</h3>
<div class="cont">
    {%for pasta in Pasta%}
     <div>
   <label    >{{pasta}}</label><br>
          </div>
    {%endfor%}
</div>

     <h3>Plater</h3>
<div class="cont">

    {%for plater in Plater%}
     <div>
   <label >{{plater}}</label><br>
           </div>
    <div class="size">
    <input id="large" type="radio" name ='large'value="large">  <label>large</label>
    <input id= "small"type="radio" name="small" value="small">  <label>small</label>
   </div>
    <br/>
    {%endfor%}
</div>
</body>
</html>